@{
    ViewData["Title"] = "About";
}
@* <h1>@ViewData["Title"]</h1> *@

<h1 class="text-center">Technologies Used For This Application</h1>
<br>
<br>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <p class="text-center" style="font-weight: bold;">ASP.NET MVC Web Application</p>
            <img src="~/images/aspMVC.jpeg">
        </div>
        <div class="col-md-4">
            <p class="text-center" style="font-weight: bold;">SQL Server built from Azure SQL Services</p>
            <img src="~/images/asql.png">
        </div>
        <div class="col-md-4">
            <p class="text-center" style="font-weight: bold;">Entityframework Core</p>
            <img src="~/images/efc.png">
        </div>
    </div>
</div>
<br><br>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <p class="text-center" style="font-weight: bold;">Azure WebApp Services</p>
            <img src="~/images/awebapp.png">
        </div>
        <div class="col-md-4">
            <p class="text-center" style="font-weight: bold;">Azure DevOps with Pipelines</p>
            <img src="~/images/apipe.png">
        </div>
        <div class="col-md-4">
            <p class="text-center" style="font-weight: bold;">.NET C# (See Sharp)</p>
            <img src="~/images/csharp.jpeg">
        </div>
    </div>
</div>
@* <p>ASP.NET MVC Web Application</p>
<p>SQL Server built from Azure SQL Services</p>
<p></p> *@