@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To BalloonParty</h1>
    <p>Get All of Your Party Balloon Needs With Us</p>
</div>

<div class='container' style="border-color: black;">
    <div class='inner'><img src="~/images/ffbBalloons.jpeg"/>

    </div>
</div>

@* "https://scontent-dfw5-1.xx.fbcdn.net/v/t1.0-9/83074977_464557254426813_2939698904142184448_o.jpg?_nc_cat=105&_nc_sid=110474&_nc_ohc=_B4N0v82BRsAX9XY1vz&_nc_ht=scontent-dfw5-1.xx&oh=9840c53d68478ea38018b1519a6d0f38&oe=5EB3FF56" *@

