@model BalloonParty.DataAccess.SQLData.Products

@{
    ViewData["Title"] = "Details";
}

<h1>Product Information</h1>

<div>
    <h4>Products</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductPrice)
        </dd>
    </dl>
</div>
<div>
    <a class="button" asp-action="Index">Back to List</a>
</div>
